* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Pixel', sans-serif;
                                                
}

#logoImg {
  /* width: 120px; */
  max-width: 100%;
}

.mainSection {
  background: url(../assets/pixelguy2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: bisque;
}

.footerText {
  margin: 0;
}

.mainSectionButtons .row {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 200px; 

}

.mainSectionButtons .row .col-md-6 {
  margin-bottom: 30px; 

}

.btn-lg {
  padding: 10px 20px; 
  font-size: 18px; 
}