
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Pixel', sans-serif;
  cursor:url('../assets/cursor.png'),auto;
}

#logoImg {
  /* width: 120px; */
  max-width: 100%;
}

.mainSection {
  background: url(../assets/pixelguy2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;  
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #EF525B;
}

.footerText {
  margin: 0;
}

.btn:hover {
  box-shadow: 0.4rem 0.4rem 0rem black;
  cursor: URL("../assets/cursor2.png"), auto;
  transform: translate(-0.4rem, -0.4rem);
}

.a:hover {
  cursor: URL("../assets/cursor2.png"), auto;
}  
.mainSectionButtons .row {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 200px; 

}

.mainSectionButtons .row .col-md-6 {
  margin-bottom: 30px; 

}

.btn-lg {
  padding: 10px 20px; 
  font-size: 18px; 
}

.navo{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(92, 184, 92, 0.712); 
  backdrop-filter: blur(5px); 
  z-index: 1000; 
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
}

